<h2>¿Olvidaste la contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Correo_electrónico %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
  <button class="btn waves-effect waves-light" type="submit" name="action">Enviar instrucciones</button>  </div>
<% end %>
