<footer class="page-footer green darken-1">
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Cuart
            <%= link_to "Sobre nosotros", pages_about_path, :class => "grey-text text-lighten-4 right" %>
            </div>
          </div>
        </footer>
