<footer class="page-footer indigo darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Cuart</h5>
                <p class="grey-text text-lighten-4">Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                  Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo kno vimeo zlio voxy zinch twones zoodles joost,
                  sococo zynga imvu imeem stypi lijit bubbli flickr mog sococo greplin bebo waze voxy. Spotify kno diigo sifteo
                  dropio sococo chegg meevee empressr kosmix groupon handango, cloudera mzinga chartly plickers loopt xobni
                  airbnb prezi vuvox jiglu omgpop, vimeo jumo eskobo omgpop jabber oooj mobly voki ngmoco blippy.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Cuart
            <%= link_to "Sobre nosotros", pages_about_path, :class => "grey-text text-lighten-4 right" %>
            </div>
          </div>
        </footer>
