<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<% if @photos %>

	<div class="row">
		<% @photos.each do |photo| %>
			<div class="col s6">
				<div class="card">
            <div class="card-image">
				  	<%= image_tag photo.image.url() %>
				  </div>
				  <div class="card-action">
				  	<span class="pull-right">
				  		<%= link_to photo, remote: true, method: :delete, data: {confirm: "¿Seguro?"} do %>
					  		<i class="material-icons">delete</i>
				  		<% end %>
				  	</span>
				  </div>
				</div>
			</div>
		<% end %>
	</div>

<% end %>
